body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #303f30;
    margin:0;
    padding:0;
}

.container{
    width: 950px;
    margin:100px auto;
    background: #ffffff;
    padding:40px 45px;
    border-radius: 30px;
    box-shadow:0 5px 30px rgba(0,0,0,0.1);
}

.h1{
    text-align: center;
    margin-bottom:20px;
}

.intro{
    font-size: 15px;
    text-align: center;
    color: #2B2B2B;
    margin-bottom: 25px;
}
.form-group{
    margin-bottom: 20px;

}

.label{
    font-size: 15px;
    display:block;
    margin-bottom: 10px;
}
input,select{
    width:100%;
    padding:8px;
    border:2px solid #ccc;
    border-radius: 10px;
}
button{
    width:100%;
    padding:20px;
    background-color: #4CAF50;
    color:white;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    margin-top:10px;
}
button:hover{
    background-color: #45a049;
}

.result{
    margin-top:25px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.footer{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #2B2B2B;
    color: #ffffff;
}

